<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body style="background-color:black ;">
  <nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Connections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if current_user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.profile') }}">Home</a>
      </li>
    </ul>
    {% endif %}
    <div class="nav justify-content-end">
      {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a class="btn btn-outline-info my-2 my-sm-0" href="{{ url_for('auth.login') }}" >Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info my-2 my-sm-0 " href="{{ url_for('auth.signup') }}" >Sign up</a>
      </li>
      {% endif %}
      {% if current_user.is_authenticated %}
      <div class="nav-item">
        <a class="btn btn-outline-info my-2 my-sm-0 mr-2" href="{{ url_for('auth.reset') }}">Reset Password</a>
      </div>
      <div class="nav-item">
        <a class="btn btn-outline-info my-2 my-sm-0" href="{{ url_for('auth.logout') }}">Logout</a></div>
      {% endif %}
    </div>
  </div>
  </nav>

    <div class="container-fluid"> 
        <div class="container">

            <aside class="col-sm-8" style="padding-left:330px ; padding-top: 100px;" >
              <div class="card">
                <article class="card-body">
                  <h4 class="card-title mb-4 mt-1 text-center" style="color:#036270;">Reset Password</h4>
                  <p>Please enter your email. We will send an email to reset your password.</p>
                  <form method="POST" action="{{ url_for('auth.reset') }}">
          
                    <div class="form-group">
                        <input name="email" class="form-control" placeholder="user@email.com" type="email" autofocus="">
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Submit</button>
                  </form>
                </div>
              </div>
          
                </article>
              </div>
            </aside>
          </div>
    </div>
</body>

</html>